@tailwind base;
@tailwind components;
@tailwind utilities;

/*_____________________________________________________________________________________________*/
/*                                      Varibales CSS                                          */
/*_____________________________________________________________________________________________*/

:root {
  --background: #F9FAFB;
  --foreground: #101010;
  --accentColor: #C6D602;
  --foregroundVar: #343434;
}

@font-face {
  font-family: 'BN-Reebox';
  src: url('/fonts/BNReebox-Rounded.otf') format('opentype');
}

@font-face {
  font-family: 'Inter'; 
  src: url('/fonts/Inter-VariableFont.ttf') format('truetype');
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #101010;
    --foreground: #F9FAFB;
  }
}
*/

/*_____________________________________________________________________________________________*/
/*                                          Global                                             */
/*_____________________________________________________________________________________________*/

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter, sans-serif;

  width: 100%;
  height: 100%;

  overflow-x: hidden;
}

header {
  align-items: center;
  background: white;
  padding: 1rem;
  padding-left: 2rem;
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  transform: translateX(-50%);
  z-index: 10;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  left: 50%;
  position: fixed;
  gap: 5rem;

  backdrop-filter: blur(50px);
 -webkit-backdrop-filter: blur(10px);
 background: rgba(255, 255, 255, 0.9);
}

.nav-right {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.nav-right a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.nav-right a.connect-btn {
  background: var(--foregroundVar);
  color: white;
  padding: 0.7rem 1.5rem;
  border-radius: 15px;
  font-weight: bolder;
}

.connect-btn {
  background: var(--foregroundVar);
  padding: 0.7rem 1.5rem;
  border-radius: 15px;
  font-weight: bolder;
  color: white;
}

a.connect-btn:hover {
  background: var(--accentColor);
  color: var(--foreground);
}

#nav-left img {
  height: 60px;
}

.Titre {
  text-align: center;
  font-family: "BN-Reebox";
  font-size: 60px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  
}

.Paragraphe {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
}

/*_____________________________________________________________________________________________*/
/*                                         Home Page                                           */
/*_____________________________________________________________________________________________*/

.HP-ContentTrapez_v1 {
  width: 300px;
  height: 350px;
  clip-path: polygon(15% 0, 85% 0, 100% 100%, 0 100%);
  background: #CCFF00;
  color: var(--foreground);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
 }

 .HP-ContentTrapez_v2 {
  width: 300px;
  height: 350px;
  clip-path: polygon(0 0, 100% 0, 85% 100%, 15% 100%);
  background: #CCFF00;
  color: var(--foreground);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
 }

 .HP-Trapez_v2 {
  width: 300px;
  height: 350px;
  clip-path: polygon(0 0, 100% 0, 85% 100%, 15% 100%);
  background: #343434;
  color: var(--foreground);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
 }

 .HP-Trapez_v1 {
  width: 300px;
  height: 350px;
  clip-path: polygon(15% 0, 85% 0, 100% 100%, 0 100%);
  background: #343434;
  color: var(--foreground);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
 }

.image-container {
  position: relative;
  justify-content: center;

  width: 100%;
}

.HP_STRAT1-APropos {
  background: var(--foreground);
  color: var(--background);
  width: 100%;

  padding: 5%;
  padding-bottom: 10%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.HP-TrapezContainer {
  margin-top: 5%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow-x: hidden;
  gap: 0; /* Ajout */
  flex-wrap: nowrap;
  min-width: 2700px;
  position: relative;
  left: 50%; /* Ajout */
  transform: translateX(-50%);
}