@tailwind base;
@tailwind components;
@tailwind utilities;

/*_____________________________________________________________________________________________*/
/*                                      Varibales CSS                                          */
/*_____________________________________________________________________________________________*/

:root {
  --white: #F9FAFB;         /*Main White Color*/

  --black: #101010;         /*Main Black Color*/
  --blackMedium: #6A6A6A;
  --blackLight: #C3C3C3;

  --grey: #343434;          /*Main Grey Color*/
  --greyMedium : #808080;
  --greyLight: #B3B3B3;

  --green: #C6D602;         /*Main Accent Color*/
  --greenMedium: #DBE561;
  --greenLight: #F1F5C0;
}

@font-face {
  font-family: 'BN-Reebox';
  src: url('/fonts/BNReebox-Rounded.otf') format('opentype');
}

@font-face {
  font-family: 'Inter'; 
  src: url('/fonts/Inter-VariableFont.ttf') format('truetype');
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #101010;
    --foreground: #F9FAFB;
  }
}
*/

/*_____________________________________________________________________________________________*/
/*                                          Global                                             */
/*_____________________________________________________________________________________________*/

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter, sans-serif;

  width: 100%;
  height: 100%;

  overflow-x: hidden;
}

header {
  align-items: center;
  background: var(--white);
  padding: 1rem;
  padding-left: 2rem;
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  transform: translateX(-50%);
  z-index: 10;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  left: 50%;
  position: fixed;
  top: 0;
  gap: 5rem;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(10px);
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav-right {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.nav-right a {
  text-decoration: none;
  color: var(--black);
  font-weight: 500;
  transition: font-weight 0.3s;
}

.nav-right a:hover {
  color: var(--black);
  font-weight: bolder;
}

.nav-right a.connect-btn {
  background: var(--black);
  color: white;
  padding: 0.7rem 1.5rem;
  border-radius: 15px;
  font-weight: bolder;
  text-decoration: none;
}

.connect-btn {
  background: var(--black);
  padding: 0.7rem 1.5rem;
  border-radius: 15px;
  font-weight: bolder;
  color: white;
}

a.connect-btn:hover {
  background: var(--green);
  color: var(--black);
}

#nav-left img {
  height: 60px;
}

.title {
  font-family: "BN-Reebox";
  font-size: 60px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  margin-bottom: 2%;
  
}

.paragraphe {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}

.container-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background-color: var(--black);
  color: var(--white);
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button:hover {
  background-color: var(--green);
}

.pagination button.active {
  background-color: var(--green);
  color: var(--black);
}

.pagination button:disabled {
  background-color: var(--greyMedium);
  cursor: not-allowed;
}


/*_____________________________________________________________________________________________*/
/*                                      Slides container                                       */
/*_____________________________________________________________________________________________*/

 .slide-statistiques-container {
  background: var(--black);
  color: var(--white);
  width: 100%;
  padding-top: 5%;
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 7%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.slide-domaines-container {
  padding: 6%;
  padding-bottom: 3%;
}

.slide-entreprises-container {
  padding-top: 8%;
  padding-bottom: 3%;
}

.slide-offres-container {
  padding-top: 8%;
  padding-bottom: 3%;
}

.slide-offres-detail-container {
  padding-top: 8%;
  padding-bottom: 3%;
  padding-left: 10%;
  padding-right: 10%;
}

footer {
  background: var(--black);
  color: var(--white);
  text-align: center;
  font-size: 0.8rem;
  padding-bottom: 2%;
}

/*_____________________________________________________________________________________________*/
/*                                         Home Page                                           */
/*_____________________________________________________________________________________________*/

.image-container {
  position: relative;
  justify-content: center;

  width: 100%;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.assets {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-btn {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 5%;
}

/*_____________________________________________________________________________________________*/

.container-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  padding: 20px;
}

.about-container {
  background-color: var(--black);
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
  margin-bottom: 20px;
}

.cards-container {
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
}

.info-card {
  background-color: var(--green);
  border-radius: 24px;
  padding: 4%;
  text-align: center;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.info-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.info-card .number {
  font-size: 32px;
  font-weight: bold;
}

.info-card .text {
  font-size: 20px;
}


/*_____________________________________________________________________________________________*/
/*                                       Offers Page                                          */
/*_____________________________________________________________________________________________*/

.offer-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  margin-bottom: 5%;
}

/* Styles pour les cartes des offres */
.offer-card {
  background-color: #f8f5f5;
  width: calc(33.333% - 24px);
  border-radius: 24px;
  padding: 2%;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease; /* Ajout de la transition */
}

.offer-card:hover {
  transform: translateY(-5px); /* Lève légèrement la carte */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Ombre plus prononcée */
}

.offer-card .entreprise {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.offer-card .titre {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.offer-card .competences {
  margin-bottom: 1rem;
}

.competence-pill {
  display: inline-block;
  background-color: var(--greenMedium);
  color: var(--black);
  border-radius: 12px;
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

.title-container {
  display: flex;
  align-items: center;
}

.apply-button {
  background-color: var(--black);
  color: var(--white);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1rem;
}

.apply-button:hover {
  background-color: var(--green);
  color: var(--black);
  border: none;
}

.wishlist-button {
  background-color: var(--black);
  color: var(--white);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.wishlist-button:hover {
  background-color: var(--green);
  color: var(--black);
}

.wishlist-button .icon {
  display: flex;
  align-items: center;
}

.create-offer-button {
  position: relative;
  left: 86.5%;
  background-color: var(--black);
  color: var(--white);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1rem;
}

.return-button {
  position: relative;
  left: 10.5%;
  background-color: var(--black);
  color: var(--white);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1rem;
}

.return-button:hover {
  background-color: var(--green);
  color: var(--black);
}

.create-offer-button:hover {
  background-color: var(--green);
  color: var(--black);
}

.button-text {
  display: inline;
}

.button-icon {
  display: none;
}


/*_____________________________________________________________________________________________*/
/*                                         Offer detail                                        */
/*_____________________________________________________________________________________________*/

.subline{
  color: var(--greyMedium);
}

.form-text{
  color: var(--grey);
  font-weight: bold;
  text-transform: uppercase;
}

.form-input{
  color: var(--grey);
  font-weight: lighter;
}

select {
  border: 1px;
  border-radius: 4px;
  padding: 0.5%;
  margin-top: 5px;
  background-color: var(--greenLight);
}

input {
  border: 1px;
  border-radius: 4px;
  padding: 0.5%;
  margin-top: 5px;
  background-color: var(--greenLight);
}

textarea {
  border: 1px;
  border-radius: 4px;
  padding: 0.5%;
  margin-top: 5px;
  width: 100%;
  background-color: var(--greenLight);
}

input[type="radio"]:checked, input[type="checkbox"]:checked {
  accent-color: var(--green);
 }

/*__________________________________________________________________________________*/

.cv-upload {
  display: flex;
  gap: 10px;
  align-items: center;
}

.cv-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.cv-info {
  display: inline-flex;
  align-items: center;
  padding: 1px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.cv-name {
  flex-grow: 1;
  padding: 8px;
  background: var(--white);
}

.cv-action {
  padding: 8px;
}

.remove-file-button {
  padding: 4px 8px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.remove-file-button:hover {
  background-color: #c82333;
}

.reinitialiser {
  background: var(--white);
  color: var(--black);
  border: 2px solid var(--black);
  border-radius: 15px;
  padding: 8px 16px;
  cursor: pointer;
}

.reinitialiser:hover {
  background: var(--green);
  color: var(--black);
}

/*__________________________________________________________________________________*/

.submit-status {
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
}

.submit-status.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.submit-status.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.error-message {
  color: #dc3545;
  font-size: 0.875em;
  margin-top: 4px;
}

.error-input {
  background-color: #ffe6e6;
  border-color: #dc3545;
}

.skills {
  list-style: none;
  padding: 1.2%;
}

.skills li {
  display: inline-block;
  border: 1px solid #000000;
  background-color: white;
  border-radius: 10px;
  padding: 3px 8px;
  margin-right: 30px;
  margin-left: -20px;
}

/*_____________________________________________________________________________________________*/
/*                                           Connexion                                         */
/*_____________________________________________________________________________________________*/

.slide-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
  margin-bottom: 0; /* Réduire la marge inférieure */
}

.slide-login-container {
  width: 500px;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 24px;
  margin-bottom: 0; /* Réduire la marge inférieure */
}

.slide-login-container h1 {
  text-align: center;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-button {
  background-color: var(--black);
  color: var(--white);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1rem;
  width: 100%;
  
}

.login-button:hover {
  background-color: var(--green);
  color: var(--black);
}

.error {
  color: red;
  margin-bottom: 1rem;
  text-align: center;
}

/*_____________________________________________________________________________________________*/
/*                                      Page Detail Entreprise                                 */
/*_____________________________________________________________________________________________*/

.slide-company-container {
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.slide-company-container h1 {
  margin-bottom: 1rem;
  text-align: center;
}

.slide-company-container p {
  margin-bottom: 1rem;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 1rem;
}

.star {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.1em;
  background-color: transparent;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.full-star {
  background-color: #ffc107;
}

.half-star {
  background: linear-gradient(to right, #ffc107 50%, transparent 50%);
}

.empty-star {
  background-color: var(--black);
}

.button-group {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.edit-button, .delete-button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.edit-button {
  background-color: var(--green);
  color: var(--black);
}

.delete-button {
  background-color: var(--grey);
  color: #fff;
}

.edit-button:hover {
  background-color: #ff9900;
  color : var(--white)
}

.delete-button:hover {
  background-color: #ee162c;
}

/*_____________________________________________________________________________________________*/
/*                                      Popup de suppression                                   */
/*_____________________________________________________________________________________________*/

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
}

.popup-content button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 0.5rem;
}

.popup-content button:first-of-type {
  background-color: #dc3545;
  color: #fff;
}

.popup-content button:last-of-type {
  background-color: #6c757d;
  color: #fff;
}

/*_____________________________________________________________________________________________*/
/*                                     Page Modif Entreprise                                   */
/*_____________________________________________________________________________________________*/

.form-container {
  background-color: var(--white);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 10% auto 5%; /* Ajoutez une marge supérieure pour positionner le formulaire en dessous de la barre de navigation */
}

.form-container h1 {
  text-align: center;
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: var(--black);
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--greyLight);
  border-radius: 4px;
  background-color: var(--greenLight);
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.button-group button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
}

.button-group .quit-button {
  background-color: var(--black);
  color: var(--white);
}

.button-group .quit-button:hover {
  background-color: #e60000;
  color: var(--white);
}

.close-button {
  right: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--black);
  transition: color 0.3s ease, transform 0.2s ease;
}

.close-button:hover {
  color: #e60000; /* Couleur au survol */
  transform: scale(1.1); /* Légère mise en avant au survol */
}

/*_____________________________________________________________________________________________*/
/*                                         RESPONSIVE                                          */
/*_____________________________________________________________________________________________*/

@media (max-width: 1340px) {
  body{
    justify-content: center;

  }

  header {
    flex-direction: column;
    padding: 1rem;
    margin-left: 0;
    margin-top: 8%;
  }

  .hero-image {
    display: none;
  }

  .HP_STRAT1-APropos {
    padding-top: 25%;
    padding-bottom: 10%;
  }

  .nav-right {
    flex-direction: column;
    gap: 0.5rem;
  }

  .title {
    font-size: 3rem;
  }

  .Paragraphe {
    font-size: 0.875rem;
  }

  .header-expanded .navbar-desktop-only {
    width: 112%;
    padding-top: 5%;
    display: block;
  }

  .cards-container {
    flex-direction: column;
    font-size: 1rem;
    width: 100%;
    display: flex;
    gap: 24px;
    align-items: center;
  }

  .container-cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--green);
    border-radius: 24px;
    padding: 4%;
    text-align: center;
    height: 200px;
  }

  .info-card .title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px; /* Ajout d'un espace entre le titre et le paragraphe */
  }

  .info-card .Paragraphe {
  font-size: 20px;
}

  .sub-mobile {
    display: none;
  }

  .offer-card {
    width: 100%; /* Pour 1 colonne sur les écrans encore plus petits */
    padding: 6%;
  }

  .create-offer-button {
    padding: 0;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    border-radius: 20%;
  }

  .button-text {
    display: none;
  }

  .button-icon {
    display: inline;
  }

  .bento-container {
    flex-direction: column; /* Passer les éléments en colonne */
    align-items: center; /* Centrer les éléments */
}

.bento-item {
    flex: none; /* Désactiver le comportement de flex-grow */
    background-color: #f9f9f9;
    width: 100%; /* Chaque élément prend toute la largeur */
    max-width: 100%; /* Supprimer la limite de largeur */
    margin: 0 auto; /* Centrer les éléments */
}
}

/*_____________________________________________________________________________________________*/
/*                                        Scroll Button                                        */
/*_____________________________________________________________________________________________*/

.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: var(--black);
  color: white;
  border: none;
  border-radius: 50%;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  display: none;
  z-index: 1001;
}

.scroll-to-top:hover {
  background-color: var(--green);
  color : var(--black);
}

.scroll-to-top:active {
  background-color: var(--green);
  color : var(--black);
}

/* Affiche le bouton lorsque showScrollButton est true */
.scroll-to-top {
  display: block;
}

.heroContainer {
  position: relative;
  text-align: left;
  color: white;
}

.hero-image {
  width: 100%;
  height: auto;
}

.heroText {
  position: absolute;
  top: 40%;
  left: 22.5%;
  transform: translate(-50%, -50%);
  color: var(--black);
  max-width: 38%;
}

/*_____________________________________________________________________________________________*/
/*                                   Mention legales                                           */
/*_____________________________________________________________________________________________*/

.legales-container {
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1100px;
  margin: auto;
}

.titre-legales {
  text-align: left;
  margin: 0 auto;
  font-size: 1.20rem;
  padding: 1.5%;
}

.paragraphe-legales {
  text-align: left;
  margin: 0 auto;
  font-size: 1rem;
  padding: 0.5%;
}

/*_____________________________________________________________________________________________*/
/*                                       Dashboard                                             */
/*_____________________________________________________________________________________________*/


.grid {
  background: hsl(36, 100%, 99%);
  width: 100%;
  max-width: 1500px;
  height: auto;
  display: grid;
  gap: 1.5vw;
  padding: 1vw;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "hero hero hero hero aside2 aside2"
    "hero hero hero hero aside2 aside2"
    "hero hero hero hero aside2 aside2"
    "hero hero hero hero aside2 aside2"
    "aside3 aside3 aside4 aside4 aside5 aside5 ";
}

.grid-inverse{
  background: hsl(36, 100%, 99%);
  width: 100%;
  max-width: 1500px;
  height: auto;
  display: grid;
  gap: 1.5vw;
  padding: 1vw;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "aside2 aside2 hero hero hero hero"
    "aside2 aside2 hero hero hero hero"
    "aside2 aside2 hero hero hero hero"
    "aside2 aside2 hero hero hero hero"
    "aside3 aside3 aside4 aside4 aside5 aside5 ";
}

.item {
  background-color: #f8f5f5;
  border-radius: 24px;
  padding: 2%;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grid .item:nth-child(1) {
  grid-area: hero;
}
.grid .item:nth-child(2) {
  grid-area: aside2;
}

.grid .item:nth-child(3) {
  grid-area: aside3;
}
.grid .item:nth-child(4) {
  grid-area: aside4;
}

.grid .item:nth-child(5) {
  grid-area: aside5;
}

.grid-inverse .item:nth-child(1) {
  grid-area: hero;
}
.grid-inverse .item:nth-child(2) {
  grid-area: aside2;
}

.grid-inverse .item:nth-child(3) {
  grid-area: aside3;
}
.grid-inverse .item:nth-child(4) {
  grid-area: aside4;
}

.grid-inverse .item:nth-child(5) {
  grid-area: aside5;
}

.container-dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.offer-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.offer-item h2, .offer-item p {
  margin: 0 10px;
}

.offer-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1em;
  font-family: 'Arial', sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.offer-table thead tr {
  background-color: #C6D602;
  color: #000000;
  text-align: left;
}

.offer-table th,
.offer-table td {
  padding: 12px 15px;
}

.offer-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.offer-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.offer-table tbody tr:last-of-type {
  border-bottom: 2px solid #C6D602;
}

.offer-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}


/*_____________________________________________________________________________________________*/
/*                                      Statistiques Offres                                    */
/*_____________________________________________________________________________________________*/

.statistics-section {
  margin-top: 5%;
  padding: 1rem;
  border-radius: 8px;
}

.statistics-section .title {
  text-align: center;
  margin-bottom: 1.5rem;
}

.bento-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.bento-item {
  flex: 1 1 calc(33.333% - 24px); /* 3 items par ligne */
  background: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  text-align: center;
  transition: none;
}

.bento-item h3 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: #333;
}

.bento-item ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.bento-item ul li {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  color: #555;
}

canvas {
  max-width: 100%;
  height: auto;
}

/* Styles pour la liste des wish lists */
.wishlist-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left; /* Aligner les éléments à gauche */
}

.wishlist-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.wishlist-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.wishlist-rank {
  font-weight: bold;
  color: var(--green);
  margin-right: 1rem;
  font-size: 1.2rem;
}

.wishlist-title {
  flex-grow: 1;
  font-size: 1rem;
  font-weight: 500;
  color: var(--black);
}

.wishlist-count {
  background-color: var(--greenLight);
  color: var(--black);
  padding: 0.3rem 0.6rem;
  border-radius: 12px;
  font-size: 0.9rem;
  font-weight: bold;
}

.wishlist {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.wishlist-itemm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.wishlist-details {
  flex: 1;
}

.remove-button {
  background-color: var(--green);
  color: black;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.remove-button:hover {
  background-color: #e60000;
  color: white;
}

.status-pill {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border-radius: 12px;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  color: white;
}

.status-pill.refusee {
  background-color: #e60000; /* Rouge */
}

.status-pill.en-attente {
  background-color: #ff9900; /* Orange/Jaune */
}

.status-pill.acceptee {
  background-color: #28a745; /* Vert */
}

.search-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  background-color: var(--greenLight);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-input,
.filter-select,
.filter-date {
  padding: 10px;
  border: 1px solid var(--black);
  border-radius: 8px;
  font-size: 1rem;
  background-color: var(--white);
  color: var(--black);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search-input:focus,
.filter-select:focus,
.filter-date:focus {
  outline: none;
  border-color: var(--green);
  box-shadow: 0 0 5px var(--green);
}

.filter-select {
  min-width: 200px;
}

.filter-date {
  min-width: 150px;
}

.search-input {
  flex: 1;
  min-width: 300px;
}

.search-container button {
  background-color: var(--black);
  color: var(--white);
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.search-container button:hover {
  background-color: var(--green);
  color: var(--black);
}

.competences-pills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.competence-pill {
  display: inline-flex;
  align-items: center;
  background-color: var(--greenMedium);
  color: var(--black);
  border-radius: 16px;
  padding: 5px 10px;
  font-size: 0.9rem;
  font-weight: bold;
}

.competence-pill button {
  background: none;
  border: none;
  color: var(--black);
  font-size: 1rem;
  margin-left: 5px;
  cursor: pointer;
}

.competence-pill button:hover {
  color: var(--red);
}

/* Styles pour les étoiles */
.rating-stars {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px; /* Espacement entre les étoiles */
  margin: 10px 0;
}

.star {
  font-size: 2rem; /* Taille des étoiles */
  cursor: pointer;
  color: transparent;
  transition: color 0.3s ease;
  display: inline-block;
  width: 1.5em; /* Largeur des étoiles */
  height: 1.5em; /* Hauteur des étoiles */
  background-color: transparent;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.star.full-star {
  background-color: #ffc107; /* Couleur des étoiles sélectionnées (jaune) */
}

.star.empty-star {
  background-color: #ccc; /* Couleur des étoiles non sélectionnées (gris) */

}

.star:hover {
  background-color: #ffca2c; /* Couleur des étoiles au survol */
}

.popup-lm {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80%;
  border-radius: 8px;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.popup-content-lm {
  text-align: center;
}

.popup-content-lm p {
  text-align: left; /* Aligner le texte à gauche */
  line-height: 1.6; /* Améliorer l'espacement entre les lignes */
  font-size: 1rem; /* Taille de police lisible */
  color: var(--black); /* Couleur du texte */
  margin-top: 5%;
  margin-right: 20%;
  margin-left: 20%;
  margin-bottom: 5%;
}

.close-button-popup {
  position: absolute;
  top: 20px;
  left: 20px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--black);
  transition: color 0.3s ease, transform 0.2s ease;
}

.close-button-popup:hover {
  color: #e60000; /* Couleur au survol */
  transform: scale(1.1); /* Légère mise en avant au survol */
}

.view-button {
  background-color: var(--green); /* Couleur principale */
  color: var(--black); /* Texte noir */
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.view-button:hover {
  background-color: var(--black); /* Couleur au survol */
  color: var(--white); /* Texte blanc au survol */
}